@import url(https://fonts.googleapis.com/css?family=Amatic+SC:700,400);

$primary-color: #546E7A;
$chop-color: #455A64;
$dark-chop-color: #263238;
$eyes-color: #FFD740;
$light-eyes-color: #FFFF8D;
$stoke-color: #fff;
$scraft-color: #D32F2F;

html,
body {
  height: 100%;
  background: #212121;
  font-family: 'Amatic SC', cursive;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
}

.character {
  width: 150px;
  height: 150px;
  position: relative;
}
.about{
  position: absolute;
  top: calc(50% + 100px);
  left: calc(50% - 130px);
  text-align: center;
}  

.about h1, h2{
  font-weight: bold;
  font-size: 40px;
}

.about h2{
  font-size: 40px;
}

.character > div {
  position: absolute;
}

.body {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background: rgba(84,110,122,1);
background: -moz-linear-gradient(left, rgba(84,110,122,1) 0%, rgba(84,110,122,1) 49%, rgba(96,125,139,1) 50%, rgba(84,110,122,1) 100%);
background: -webkit-gradient(left top, right top, color-stop(0%, rgba(84,110,122,1)), color-stop(49%, rgba(84,110,122,1)), color-stop(50%, rgba(96,125,139,1)), color-stop(100%, rgba(84,110,122,1)));
background: -webkit-linear-gradient(left, rgba(84,110,122,1) 0%, rgba(84,110,122,1) 49%, rgba(96,125,139,1) 50%, rgba(84,110,122,1) 100%);
background: -o-linear-gradient(left, rgba(84,110,122,1) 0%, rgba(84,110,122,1) 49%, rgba(96,125,139,1) 50%, rgba(84,110,122,1) 100%);
background: -ms-linear-gradient(left, rgba(84,110,122,1) 0%, rgba(84,110,122,1) 49%, rgba(96,125,139,1) 50%, rgba(84,110,122,1) 100%);
background: linear-gradient(to right, rgba(84,110,122,1) 0%, rgba(84,110,122,1) 49%, rgba(96,125,139,1) 50%, rgba(84,110,122,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#546e7a', endColorstr='#546e7a', GradientType=1 );
}

.chop {
  width: 100%;
  height: 100%;
  background: $chop-color;
  -webkit-clip-path: polygon(50% 0%, 100% 38%, 100% 54%, 51% 63%, 0 54%, 0 39%);
  clip-path: polygon(50% 0%, 100% 38%, 100% 54%, 51% 63%, 0 54%, 0 39%);
  background: rgba(69,90,100,1);
background: -moz-linear-gradient(left, rgba(69,90,100,1) 0%, rgba(69,90,100,1) 49%, rgba(84,110,122,1) 50%, rgba(84,110,122,1) 100%);
background: -webkit-gradient(left top, right top, color-stop(0%, rgba(69,90,100,1)), color-stop(49%, rgba(69,90,100,1)), color-stop(50%, rgba(84,110,122,1)), color-stop(100%, rgba(84,110,122,1)));
background: -webkit-linear-gradient(left, rgba(69,90,100,1) 0%, rgba(69,90,100,1) 49%, rgba(84,110,122,1) 50%, rgba(84,110,122,1) 100%);
background: -o-linear-gradient(left, rgba(69,90,100,1) 0%, rgba(69,90,100,1) 49%, rgba(84,110,122,1) 50%, rgba(84,110,122,1) 100%);
background: -ms-linear-gradient(left, rgba(69,90,100,1) 0%, rgba(69,90,100,1) 49%, rgba(84,110,122,1) 50%, rgba(84,110,122,1) 100%);
background: linear-gradient(to right, rgba(69,90,100,1) 0%, rgba(69,90,100,1) 49%, rgba(84,110,122,1) 50%, rgba(84,110,122,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#455a64', endColorstr='#546e7a', GradientType=1 );
}

.chopduoi {
  width: 100%;
  height: 100%;
  background: $dark-chop-color;
  -webkit-clip-path: polygon(50% 82%, 0 55%, 100% 55%);
  clip-path: polygon(50% 82%, 0 55%, 100% 55%);
}

.scraft {
	width: 100%;
	height: 100%;
	background: $scraft-color;
	-webkit-clip-path: polygon(1% 84%, 8% 75%, 23% 81%, 38% 84%, 56% 85%, 69% 85%, 83% 83%, 92% 77%, 98% 75%, 99% 88%, 94% 95%, 74% 98%, 57% 100%, 42% 100%, 25% 100%, 14% 98%, 5% 94%);
clip-path: polygon(1% 84%, 8% 75%, 23% 81%, 38% 84%, 56% 85%, 69% 85%, 83% 83%, 92% 77%, 98% 75%, 99% 88%, 94% 95%, 74% 98%, 57% 100%, 42% 100%, 25% 100%, 14% 98%, 5% 94%);
}

.smallchop {
  height: 60px;
  width: 8px;
  background: $dark-chop-color;
  position: absolute;
  left: calc(50% - 4px);
  top: 20px;
}

.smallchop:nth-child(1) {
  left: 10px;
  height: 20px;
  top: 55px;
}

.smallchop:nth-child(2) {
  left: 30px;
  height: 30px;
  top: 45px;
}

.smallchop:nth-child(3) {
  left: 50px;
  height: 40px;
  top: 35px;
}
.smallchop:nth-child(4){
}

.smallchop:nth-child(5) {
  left: 90px;
  height: 40px;
  top: 35px;
}

.smallchop:nth-child(6) {
  left: 110px;
  height: 30px;
  top: 45px;
}

.smallchop:nth-child(7) {
  left: 130px;
  height: 20px;
  top: 55px;
}
.earleft, .earright{
  height: 30px;
  width: 8px;
  background: $primary-color;
  top: 55px;
}
.earleft {
  left: -7px;
  background: $chop-color;
}
.earright {
  right: -7px;
}
.eyesleft, .eyesright{
    width: 15px;
  height: 15px;
  background: $eyes-color;
  -moz-border-radius: 60px;
  -webkit-border-radius: 60px;
  border-radius: 60px;
  top: 85px;
  z-index: 0;
  animation: eyes 1s linear infinite alternate;
}
.eyesleft{
  left: 35px;
}
.eyesright{
  right: 35px;
}

@keyframes eyes{
  from {
  background: $eyes-color;
  box-shadow:0 0 2px #FFF9C4;
  }
  to {
    background: $light-eyes-color;
    box-shadow:0 0 4px #FFf;
  }
}


