@import url(https://fonts.googleapis.com/css?family=Amatic+SC:700,400);

$primary-color: #546E7A;
$chop-color: #455A64;
$dark-chop-color: #263238;
$eyes-color: #FFD740;
$light-eyes-color: #FFFF8D;
$stoke-color: #fff;
$scraft-color: #D32F2F;
$text-color: #455A64;

$spaceT: 15px;
$spaceLR: -13px;
$top: 56px;
$bottom: 20px;

$spaceT0: 38px;
$spaceLR0: -11px;
$top0: 30px;
$bottom0: 40px;

html,
body {
  height: 100%;
  background: #212121;
  font-family: 'Amatic SC', cursive;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
}

.character {
  width: 100%;
  height: 100%;
  background: $primary-color;
  position: relative;
  animation: intro 1s 1s forwards;
}
.about{
  position: absolute;
  top: calc(50% + 100px);
  left: calc(50% - 130px);
  text-align: center;
}  

.about h1, h2{
  font-weight: bold;
  font-size: 40px;
  color: $text-color;
}

.about h2{
  font-size: 40px;
}

.character > div {
  position: absolute;
  opacity: 0;
  animation: part .2s 2s forwards;
}

.character > .chop {
  position: absolute;
  opacity: 0;
  animation: part 1s 2s forwards;
}
.chop div{
  transtion: all 0.5s;
}
.character > .eyesleft, .character > .eyesright{
    animation: part 1s 4s forwards, eyes 1s 4s linear infinite alternate;
};
.smallchop{
  -ms-transform: translateY(12px); /* IE 9 */
  -webkit-transform: translateY(12px); /* Safari */
}
.body {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background: rgba(84,110,122,1);
  background: -moz-linear-gradient(left, rgba(84,110,122,1) 0%, rgba(84,110,122,1) 49%, rgba(96,125,139,1) 50%, rgba(84,110,122,1) 100%);
  background: -webkit-gradient(left top, right top, color-stop(0%, rgba(84,110,122,1)), color-stop(49%, rgba(84,110,122,1)), color-stop(50%, rgba(96,125,139,1)), color-stop(100%, rgba(84,110,122,1)));
  background: -webkit-linear-gradient(left, rgba(84,110,122,1) 0%, rgba(84,110,122,1) 49%, rgba(96,125,139,1) 50%, rgba(84,110,122,1) 100%);
  background: -o-linear-gradient(left, rgba(84,110,122,1) 0%, rgba(84,110,122,1) 49%, rgba(96,125,139,1) 50%, rgba(84,110,122,1) 100%);
  background: -ms-linear-gradient(left, rgba(84,110,122,1) 0%, rgba(84,110,122,1) 49%, rgba(96,125,139,1) 50%, rgba(84,110,122,1) 100%);
  background: linear-gradient(to right, rgba(84,110,122,1) 0%, rgba(84,110,122,1) 49%, rgba(96,125,139,1) 50%, rgba(84,110,122,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#546e7a', endColorstr='#546e7a', GradientType=1 );
}

.chop {
  width: 100%;
  height: 100%;
    .trapezium-right, .trapezium-left{
      width: 27px;
      position: absolute;
      top: $spaceT0;
    }

    .trapezium-left{
      transform: rotate(90deg);
      right: $spaceLR0;
      border-left: $top0 solid transparent;
      border-right: $bottom0 solid transparent;
      border-bottom: 75px solid $primary-color;
    }

    .trapezium-right{
      transform: rotate(-90deg);
      left: $spaceLR0;
      border-left: $bottom0 solid transparent;
      border-right: $top0 solid transparent;
      border-bottom: 75px solid $chop-color;
    }
}

.chopduoi {
    width: 0;
    height: 0;
    top: 85px;
    border-top: 40px solid $dark-chop-color;
    border-left: 75px solid transparent;
    border-right: 75px solid transparent;
}

.scraft {
  bottom: -5px;
}

.smallchop {
  height: 60px;
  width: 8px;
  background: $dark-chop-color;
  position: absolute;
  left: calc(50% - 4px);
  top: 20px;
}

.smallchop:nth-child(3) {
  left: 10px;
  height: 20px;
  top: 55px;
  z-index: 100000px;
}

.smallchop:nth-child(4) {
  left: 30px;
  height: 30px;
  top: 45px;
}

.smallchop:nth-child(5) {
  left: 50px;
  height: 40px;
  top: 35px;
}
.smallchop:nth-child(6){
}

.smallchop:nth-child(7) {
  left: 90px;
  height: 40px;
  top: 35px;
}

.smallchop:nth-child(8) {
  left: 110px;
  height: 30px;
  top: 45px;
}

.smallchop:nth-child(9) {
  left: 130px;
  height: 20px;
  top: 55px;
}
.earleft, .earright{
  height: 30px;
  width: 8px;
  background: $primary-color;
  top: 55px;
}
.earleft {
  left: -7px;
  background: $chop-color;
}
.earright {
  right: -7px;
}
.eyesleft, .eyesright{
    width: 15px;
  height: 15px;
  background: $eyes-color;
  -moz-border-radius: 60px;
  -webkit-border-radius: 60px;
  border-radius: 60px;
  top: 85px;
  z-index: 0;
}
.eyesleft{
  left: 35px;
}
.eyesright{
  right: 35px;
}

@keyframes eyes{
  100%{
    opacity: 1;
  }
}

@keyframes intro{
  0%{
    width: 100%;
    height: 100%;
  }
  100%{
    width: 150px;
    height: 150px;
    border-radius: 50%;
  }
}

@keyframes part{
  100%{
    opacity: 1;
  }
}

@keyframes openChop{
  100%{
    $spaceT: 0px;
  }
}

@keyframes smallChop{
  100%{
     -ms-transform: translateY(0); /* IE 9 */
  -webkit-transform: translateY(0); /* Safari */
  }
}

.animation.trapezium-left{
  animation: openChopLeft 0.5s forwards;
}

.animation.trapezium-right{
  animation: openChopRight 0.5s forwards;
}
.animation.smallchop{
    animation: smallChop .5s forwards;
}
      
@keyframes openChopLeft{
  100%{
      right: $spaceLR;
      top: $spaceT;
      border-left: $top solid transparent;
      border-right: $bottom solid transparent;
  }
}
@keyframes openChopRight{
  100%{
      left: $spaceLR;
      top: $spaceT;
      border-left: $bottom solid transparent;
      border-right: $top solid transparent;
  }
}



