/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Jul 29, 2015, 9:48:24 AM
    Author     : vanhai
*/
@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,300,600&subset=latin,vietnamese);
@import url(http://fonts.googleapis.com/css?family=Roboto+Condensed:400,300|Roboto+Slab:400,300|Roboto+Mono:400,300&subset=latin,vietnamese);
@import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro:400,200italic&subset=latin,vietnamese);

body{
    font-family: 'Source Sans Pro', sans-serif;
    background-color: rgba(32, 32, 32, 0.8);

    //background-image: url(http://otakumode.com/images/common/bg.png);
}
.top{
    width: 100%;
    background-color: black;
}
#partner-container{
    background-color: rgb(247, 247, 249);
}
#footer-container{
    background-color: black;
}
#product-container{
    background-color: rgb(247, 247, 249);
    position: relative
}
#service-container{
    position: relative;
    background-color: rgb(12, 27, 48);
    background-image: radial-gradient(at 50% 50%, rgba(255, 255, 255, 0.6) 0%, rgba(255, 255, 255, 0) 100%);
}
#service-container, #footer-container, #partner-container, #product-container{
    padding-top: 50px;
    padding-bottom: 50px;
}
#service-container:after{
    content: "";
    display: block;
    width: 0;
    height: 0;
    border-top: 28px solid rgb(12, 27, 48);
    border-left: 27px solid transparent;
    border-right: 28px solid transparent;
    bottom: -28px;
    left: 50%;
    margin-left: -28px;
    position: absolute;
    z-index: 1115;
}
#product-container:after{
    content: "";
    display: block;
    width: 0;
    height: 0;
    border-top: 28px solid rgb(247, 247, 249);
    border-left: 27px solid transparent;
    border-right: 28px solid transparent;
    bottom: -28px;
    left: 50%;
    margin-left: -28px;
    position: absolute;
    z-index: 1115;
}
#news-container{
    position: relative;
}
#news-container:after{
    content: "";
    display: block;
    width: 0;
    height: 0;
    border-top: 28px solid rgb(51, 51, 51);
    border-left: 27px solid transparent;
    border-right: 28px solid transparent;
    bottom: -28px;
    left: 50%;
    margin-left: -28px;
    position: absolute;
    z-index: 1115;
}
.top>.container{
    background-color: #3ab4a6;
    padding-bottom: 0;
}
.top-bar{
    background-color: rgb(12, 27, 48);
    margin-left: 0;
    margin-right: 0px;
}
.logocpn{
    height: 74px;
}
a{
    color: white;
    text-decoration: none;
}
a:hover{
    text-decoration: none;
}
.trans{
    background-color: rgb(0, 0, 0);
    padding: 17px;

}
.div-temp{
    width: 100%;
    position: relative;
    height: 50px;
}

.img-logo>img{
    height: 50px;
}
.img-logo{
    position: absolute
}
/*ul li menu*/
ul{
    list-style: none; 
}
.ul-translate{
    float: right;
    margin-bottom: 0px;
    padding-bottom: 5px;
}

.ul-translate>li>a{
    color: white;
}
.ul-translate>li>a>img{
    width: 20px;
    height: auto;
    margin-right: 5px;
}
.ul-translate>li{
    float: right;
    padding: 5px 5px 0 5px;
}
.ul-sub-menu{
    text-align: center;
    position: relative;
    height: 100%;
    padding:0;
}
.ul-sub-menu>li{
    text-transform: uppercase;
    text-align: center;
    display: inline-block;
    height: 100%;
    padding-left: 15px;
    padding-right: 15px;
    line-height: 50px;
}

.ul-sub-menu>li>a{
    color: white;
    font-size: 14px;
}

.ul-sub-menu>li:hover{
    background-color: black;
}
.ul-sub-menu>li:hover >a{
    color: white;
}


.li-dropdown:hover > .sub-menu{
    width: 150px;
    height: auto;
    display: block;
}
.sub-menu{
    position: absolute;
    -webkit-transition: width 2s, height 4s; /* Safari */
    transition: width 2s, height 4s;
    display: none;
    padding-left: 0;
    z-index: 10;
    margin-left: -15px;
}
.sub-menu>li{
    float: none;
    text-align: left;
    padding: 0px 8px 0px 8px;
    background-color: rgb(51, 51, 51);
    font-size: small
}

.sub-menu>li:hover >a{
    color: white;

}
.sub-menu>li:hover{
    border-bottom: 2px solid #3ab4a6;
}
.sub-menu>li>a{
    color: rgba(255,255,255,0.9);
    font-weight: 200;
    font-size: 13px;
}

.li-last{
    padding-right: 0px;
}
.service-box{
    height: auto;
    max-height: 190px;
    min-width: 150px;
    width: 18.9%;
    background-color:rgb(12, 27, 48); 
    float: left;   
    margin: 5px;
    text-align: center;
    color: white;
    padding: 25px;
    display: inline-block;
}
.service-box span{
    font-size: 80px;
}
.service-box a{
    color: white;}
.service-box:hover{
    background-color:black;
}
.content-service{
    text-align: center;
    padding: 0;
}
.title-service{
    margin-bottom: 20px;
}
.content-service service-box{
    text-align: center;
    margin: auto;

}
.list-services{
    padding-left: 7px;
    padding-right: 0;
    padding-bottom: 30px;
}
@media (max-width: 770px) {
    .img-logo{
        text-align: center;
    }
    .img-logo>img{
        height: 50px;
        display: block;
    }
    .ul-sub-menu{
        padding: 0;
        width: 100%;
    }
    .ul-sub-menu>li{
        width: 100%;
        display: block;
        text-align: center;
        background: #269abc;
        border: 2px solid white;
        color: white;
        padding: 5px;
    }
    .menu-top{
        padding: 0;
    }
    .ul-sub-menu>li>a>span{
        float: right
    }
    .ul-sub-menu>li>a{
        color: white;
    }
    .ul-translate{
        display: none;
    }
    #slide{
        display: none;
    }
    .li-dropdown:hover>.sub-menu{
        width: 50%;
    }
    .service-box{
        width:  95.5%;
    }
}

/* slide top */

#slide {
    max-width: 100%;
    height: 350px;
    overflow: hidden;
    margin: 10px auto;
    width: 100%;
}
.img-thumb>img{
    width: 100%; height: auto
}
.ftdoitac{
    padding: 15px; 
    padding-top: 10px;
    padding-bottom: 40px;
}
.ftdoitac > h4{
    color: rgb(12, 27, 48);
    text-transform: uppercase;
    font-size: 25px;
    text-align: center;
}
#slide .div-img-slide {
    display: block;
    width: 0;
    float: left;
    -webkit-transition: all 0.75s;
    -moz-transition: all 0.75s;
    -o-transition: all 0.75s;
    transition: all 0.75s;
}

.div-img-slide > img {
    width: 100%;
}
button.prev,
button.next {
    position: absolute;
    z-index: 999;
    display: block;
    padding: 0 10px;
    width: auto;
    height: 350px;
    background: rgba(0, 0, 0, 0);
    color: #ffffff;
    font-size: 26px;
    cursor: pointer;
    border: none;
    outline: none;
}

button.prev:hover,
button.next:hover {
    background: rgba(0, 0, 0, 0.3);
}

button.next {
    position: absolute;
    margin-left: 935px;

}
/*menu top*/

.footer{
    background-color:black;
    color: white;
    text-transform: uppercase;
}
#namecompany{
    padding-top:15px
}
.footer>img{
    height: 100px; 
    width: auto; 
    float: right; 
    padding-right: 10px;
}

.content-thumb{
    width: 100%; 
    height: auto; 
    overflow: hidden
}
.img-thumb{
    width: 100%; 
    height: 150px; 
    overflow: hidden
}
.content-thumb>a{
    font-weight: bold;
    font-size: small;
}
.index-content> .col-xs-6,.index-content> .col-sm-4{
    padding-left: 15px;
    padding-right: 0px;
    margin-top: 5px;
}

.menu-box{
    background-color:rgb(247, 247, 249);
    width: 100%;
}
.menu-box:hover>h4{
    background-color: rgba(17, 158, 231, 0.7);  
    color: white
}
.menu-box>h4{
    padding: 5px;
    font-size: 14px;
    font-weight: bolder
}
.navbutton h4{
    padding: 3px;
    font-size: 20px;
    width: 50%;
    position: absolute;
    color: rgb(12, 27, 48);
    text-transform: uppercase
}
.title-service h4{
    padding: 3px;
    font-size: 20px;
    width: 50%;
    position: absolute;
    color: white;
    text-transform: uppercase
}
.navbutton{
    background-color: rgb(247, 247, 249);
    color: black;
    height: 40px;
}
.title-service{
    color: white;
    height: 40px;
}
.news-other{
    width: 100%;
    height: auto;
}
.news-other>p>a, p{
    width: 100%;
    font-weight: 400;
    font-size: small
}
.news-other>p{
    width: 100%;
    font-weight: normal;
    padding-bottom: 5px;
    border-bottom: 1px #cccccc dotted;
}
.news-other>p>a:hover{
    font-weight: bold;
    color: #3366ff
}



/** posts slider widget **/

.crsl-items {
    display: block;
    padding: 5px;
}

.crsl-items h5>a{
    color: rgb(12, 27, 48);
    font-size: 16px;
    text-transform: uppercase
}

.crsl-item {
    padding: 8px;

}
.crsl-item .thumbnail{
    border-radius: 0px;
    padding: 0
}
.crsl-item .thumbnail {
    display: block;
    position: relative;
    margin-bottom: 10px;
    cursor: pointer;
}
.crsl-item .thumbnail img { 
    display: block;
    -webkit-transition: all 0.3s linear;
    -moz-transition: all 0.3s linear;
    transition: all 0.3s linear;
}
.crsl-item .thumbnail:hover img {
    opacity: 0.8;
}
.crsl-item h3 a {
    text-decoration: none;
    color: #333;
}
.crsl-item h3 a:hover {
    text-decoration: underline;
}

.crsl-item .postdate {
    display: block;
    position: absolute;
    bottom: 0;
    right: 0;
    padding: 6px;
    color: #fff;
    text-shadow: 1px 1px 0 rgba(0,0,0,0.4);
    font-size: 1.2em;
    font-weight: bold;
    background: rgb(12, 27, 48);
}

.crsl-item p.readmore a {
    display: block;
    float: right;
    color: rgb(12, 27, 48);
    padding: 3px 5px;
    text-decoration: none;
    -webkit-border-radius: 3px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}
.crsl-item p.readmore a:hover {
    background: rgb(12, 27, 48);
    color: #fff;
    border-radius: 0;

}

/** posts slider nav **/


.slidernav {
    display: block;
    text-align: center;
    z-index: 100;
    height: 40px;
    width: 100px;
    margin-right: -32px;
    float: right;
    padding: 6px;
}

.slidernav a {
    display: inline-block;
    padding: 5px 8px;
    margin-right: 8px;
    font-size: 20px;
    color: rgb(12, 27, 48);
    text-decoration: none;

}
.slidernav a:active {
    -webkit-box-shadow: 1px 1px 0 rgba(0,0,0,0.2);
    -moz-box-shadow: 1px 1px 0 rgba(0,0,0,0.2);
    box-shadow: 1px 1px 0 rgba(0,0,0,0.2);
}
.slidernav a:hover{
    color: white;
    background-color: rgb(12, 27, 48);
}

.product-list:hover> .navbutton .slidernav a{
    background-color: rgb(12, 27, 48);
    color: white;
}
.product-list{
    padding: 0;
}
.mul-item{
    width: 180px;
    height: 300px;
    overflow: hidden;
    background-color: white;
    margin: 10px;
    color: rgb(12, 27, 48);
    margin-top: 30px;
}
.mul-item h3 a{
    text-transform: uppercase;
    font-size: 18px;
    color: rgb(12, 27, 48);
    font-weight: normal;
}
.mul-item a{
    color: rgb(12, 27, 48);
}
.mul-item h3,p{
    padding:10px;
}
.mul-item p{
    color: rgb(143, 143, 143);
    padding-top: 0px;
    font-size: 14px;
}
.mul-item-rm{
    font-weight: 100;
    text-align: right;
    padding: 10px;
    float: right;
    font-size: 13px;
}
.mul-item-rm:hover{
    background-color: rgb(12, 27, 48);
    color: white;
}
.mul-item img{
    width: 100%;
}
.slick-arrow-lc{
    left: -20px;
    z-index: 1000;
}
.hast-tag-div{
    padding-left: 22px;
    padding-right: 22px;
    padding-bottom: 20px;
}
.hast-tag-div>a{
    padding-right: 3px;
    color: white;
    text-transform: uppercase;
    font-size: 12px;
    padding: 3px;
    background-color: rgb(0, 187, 166)
}