/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Jul 29, 2015, 9:48:24 AM
    Author     : vanhai
*/
@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,300,600&subset=latin,vietnamese);
@import url(http://fonts.googleapis.com/css?family=Roboto+Condensed:400,300|Roboto+Slab:400,300|Roboto+Mono:400,300&subset=latin,vietnamese);
@import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro:400,200italic&subset=latin,vietnamese);

body{
    font-family: 'Source Sans Pro', sans-serif;
    background-color: rgba(32, 32, 32, 0.8);

    //background-image: url(http://otakumode.com/images/common/bg.png);
}
.top{
    width: 100%;
    background-color: black;
}
#partner-container{
    background-color: #393939;
}

#footer-container{
    background-color: rgb(12, 27, 48);
}
#product-container{
    background-color: rgb(247, 247, 249);
    position: relative;
}
#service-container{
    position: relative;
    background-color: rgb(12, 27, 48);
    //background-image: radial-gradient(at 50% 50%, rgba(255, 255, 255, 0.6) 0%, rgba(255, 255, 255, 0) 100%);
}
#service-container, #footer-container, #partner-container, #product-container{
    padding-top: 50px;
    padding-bottom: 50px;
}
#service-container:after{
    content: "";
    display: block;
    width: 0;
    height: 0;
    border-top: 28px solid rgb(12, 27, 48);
    border-left: 27px solid transparent;
    border-right: 28px solid transparent;
    bottom: -28px;
    left: 51%;
    margin-left: -28px;
    position: absolute;
    z-index: 1115;
}
#product-container:after{
    content: "";
    display: block;
    width: 0;
    height: 0;
    border-top: 28px solid rgb(247, 247, 249);
    border-left: 27px solid transparent;
    border-right: 28px solid transparent;
    bottom: -28px;
    left: 51%;
    margin-left: -28px;
    position: absolute;
    z-index: 1115;
}
#news-container{
    position: relative;
    padding-top: 50px;
    background-color: rgb(247, 247, 249);
}
#news-container:after{
    content: "";
    display: block;
    width: 0;
    height: 0;
    border-top: 28px solid rgb(247, 247, 249);
    border-left: 27px solid transparent;
    border-right: 28px solid transparent;
    bottom: -28px;
    left: 50%;
    margin-left: -28px;
    position: absolute;
    z-index: 1115;
}
#product-animation-index{
    opacity: 0;
    -webkit-transition: opacity 1s ease-in-out ;
    transition: opacity 1s ease-in-out;
}
#service-animation-index{
    opacity: 0;
    -webkit-transition: opacity 2s ease-in-out ;
    transition: opacity 2s ease-in-out;
}

.top>.container{
    background-color: #3ab4a6;
    padding-bottom: 0;
}
.top-bar{
    background-color: rgb(12, 27, 48);
    margin-left: 0;
    margin-right: 0px;
}
.logocpn{
    height: 74px;
}
a{
    color: white;
    text-decoration: none;
}
a:hover{
    text-decoration: none;
}
.trans{
    background-color: rgb(0, 0, 0);
    padding: 17px;

}
.div-temp{
    width: 100%;
    position: relative;
    height: 50px;
}

.img-logo>img{
    height: 50px;
}
.img-logo{
    position: absolute
}
/*ul li menu*/
ul{
    list-style: none; 
}
.ul-translate{
    float: right;
    margin-bottom: 0px;
    padding-bottom: 5px;
}

.ul-translate>li>a{
    color: white;
}
.ul-translate>li>a>img{
    width: 20px;
    height: auto;
    margin-right: 5px;
}
.ul-translate>li{
    float: right;
    padding: 5px 5px 0 5px;
}
.ul-sub-menu{
    text-align: center;
    position: relative;
    height: 100%;
    padding:0;
    background-color: rgb(12, 27, 48);
}
.ul-sub-menu>li{
    text-transform: uppercase;
    text-align: center;
    display: inline-block;
    height: 100%;
    padding-left: 15px;
    padding-right: 15px;
    line-height: 50px;
}

.ul-sub-menu>li>a{
    color: white;
    font-size: 14px;
}

.ul-sub-menu>li:hover{
    background-color: black;
}
.ul-sub-menu>li:hover >a{
    color: white;
}


.li-dropdown:hover > .sub-menu{
    width: 150px;
    height: auto;
    display: block;
}
.sub-menu{
    position: absolute;
    -webkit-transition: width 2s, height 4s; /* Safari */
    transition: width 2s, height 4s;
    display: none;
    padding-left: 0;
    z-index: 10;
    margin-left: -15px;
}
.sub-menu>li{
    float: none;
    text-align: left;
    padding: 0px 8px 0px 8px;
    background-color: rgb(12, 27, 48);
    font-size: small
}

.sub-menu>li:hover >a{
    color: white;

}
.sub-menu>li:hover{
    border-bottom: 2px solid #3ab4a6;
}
.sub-menu>li>a{
    color: rgba(255,255,255,0.9);
    font-weight: 200;
    font-size: 13px;
}

.li-last{
    padding-right: 0px;
}
.service-box{
    height: auto;
    max-height: 190px;
    min-width: 150px;
    width: 18.9%;
    background-color:rgb(247, 247, 249);
    float: left;   
    margin: 5px;
    text-align: center;
    padding: 25px;
    display: inline-block;
}
.service-box span{
    font-size: 80px;
}
.service-box a{
    color: rgba(12, 27, 48,0.7);
}
.service-box:hover{
    //background-color:rgb(0, 187, 166);
}
.service-box:hover >a{
    color: rgb(12, 27, 48);
}

.content-service{
    text-align: center;
    padding: 0;
}
.title-service{
    margin-bottom: 20px;

}
.title-service2 h4{
    color: white;
}
.content-service service-box{
    text-align: center;
    margin: auto;
}
.list-services{
    padding-left: 7px;
    padding-right: 0;
    padding-bottom: 30px;
}

@media (max-width: 770px) {
    .img-logo{
        text-align: center;
    }
    .img-logo>img{
        height: 50px;
        display: block;
    }
    .ul-sub-menu{
        padding: 0;
        width: 100%;
    }
    .ul-sub-menu>li{
        width: 100%;
        display: block;
        text-align: center;
        background: #269abc;
        border: 2px solid white;
        color: white;
        padding: 5px;
    }
    .menu-top{
        padding: 0;
    }
    .ul-sub-menu>li>a>span{
        float: right
    }
    .ul-sub-menu>li>a{
        color: white;
    }
    .ul-translate{
        display: none;
    }
    #slide{
        display: none;
    }
    .li-dropdown:hover>.sub-menu{
        width: 50%;
    }
    .service-box{
        width:  95.5%;
    }
}

/* slide top */

#slide {
    max-width: 100%;
    height: 350px;
    overflow: hidden;
    margin: 10px auto;
    width: 100%;
}
.img-thumb>img{
    width: 100%; height: auto
}
.ftdoitac{
    padding: 15px; 
    padding-top: 10px;
    padding-bottom: 40px;
}
.ftdoitac > h4{
    color: white;
    text-transform: uppercase;
    font-size: 30px;
    text-align: center;
    padding-bottom: 30px;
}
#slide .div-img-slide {
    display: block;
    width: 0;
    float: left;
    -webkit-transition: all 0.75s;
    -moz-transition: all 0.75s;
    -o-transition: all 0.75s;
    transition: all 0.75s;
}

.div-img-slide > img {
    width: 100%;
}
button.prev,
button.next {
    position: absolute;
    z-index: 999;
    display: block;
    padding: 0 10px;
    width: auto;
    height: 350px;
    background: rgba(0, 0, 0, 0);
    color: #ffffff;
    font-size: 26px;
    cursor: pointer;
    border: none;
    outline: none;
}

button.prev:hover,
button.next:hover {
    background: rgba(0, 0, 0, 0.3);
}

button.next {
    position: absolute;
    margin-left: 935px;

}
/*menu top*/

.footer{
    background-color:rgb(12, 27, 48);
    color: white;
    text-transform: uppercase;
}
#namecompany{
    padding-top:15px
}
.footer>img{
    height: 100px; 
    width: auto; 
    float: right; 
    padding-right: 10px;
}

.content-thumb{
    width: 100%; 
    height: auto; 
    overflow: hidden
}
.img-thumb{
    width: 100%; 
    height: 150px; 
    overflow: hidden
}
.content-thumb>a{
    font-weight: bold;
    font-size: small;
}
.index-content> .col-xs-6,.index-content> .col-sm-4{
    padding-left: 15px;
    padding-right: 0px;
    margin-top: 5px;
}

.menu-box{
    background-color:rgb(247, 247, 249);
    width: 100%;
}
.menu-box:hover>h4{
    background-color: rgba(17, 158, 231, 0.7);  
    color: white
}
.menu-box>h4{
    padding: 5px;
    font-size: 14px;
    font-weight: bolder
}
.navbutton h4{
    padding: 3px;
    font-size: 20px;
    width: 50%;
    position: absolute;
    color: rgb(12, 27, 48);
    text-transform: uppercase
}
.title-service h4{
    padding: 3px;
    font-size: 30px;
    width: 100%;
    position: absolute;
    color: rgb(12, 27, 48);
    text-transform: uppercase;
    text-align: center
}
.navbutton{
    background-color: rgb(247, 247, 249);
    color: black;
    height: 40px;
}
.title-service{
    color: white;
    height: 40px;
}
.news-other{
    width: 100%;
    height: auto;
}
.news-other>p>a, p{
    width: 100%;
    font-weight: 400;
    font-size: small
}
.news-other>p{
    width: 100%;
    font-weight: normal;
    padding-bottom: 5px;
    border-bottom: 1px #cccccc dotted;
}
.news-other>p>a:hover{
    font-weight: bold;
    color: #3366ff
}



/** posts slider widget **/

.crsl-items {
    display: block;
    padding: 5px;
}

.crsl-items h5>a{
    color: rgb(12, 27, 48);
    font-size: 16px;
    text-transform: uppercase
}

.crsl-item {
    padding: 8px;

}
.crsl-item .thumbnail{
    border-radius: 0px;
    padding: 0
}
.crsl-item .thumbnail {
    display: block;
    position: relative;
    margin-bottom: 10px;
    cursor: pointer;
}
.crsl-item .thumbnail img { 
    display: block;
    -webkit-transition: all 0.3s linear;
    -moz-transition: all 0.3s linear;
    transition: all 0.3s linear;
}
.crsl-item .thumbnail:hover img {
    opacity: 0.8;
}
.crsl-item h3 a {
    text-decoration: none;
    color: #333;
}
.crsl-item h3 a:hover {
    text-decoration: underline;
}

.crsl-item .postdate {
    display: block;
    position: absolute;
    bottom: 0;
    right: 0;
    padding: 6px;
    color: #fff;
    text-shadow: 1px 1px 0 rgba(0,0,0,0.4);
    font-size: 1.2em;
    font-weight: bold;
    background: rgb(12, 27, 48);
}

.crsl-item p.readmore a {
    display: block;
    float: right;
    color: rgb(12, 27, 48);
    padding: 3px 5px;
    text-decoration: none;
    -webkit-border-radius: 3px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}
.crsl-item p.readmore a:hover {
    background: rgb(12, 27, 48);
    color: #fff;
    border-radius: 0;

}

/** posts slider nav **/


.slidernav {
    display: block;
    text-align: center;
    z-index: 100;
    height: 40px;
    width: 100px;
    margin-right: -32px;
    float: right;
    padding: 6px;
}

.slidernav a {
    display: inline-block;
    padding: 5px 8px;
    margin-right: 8px;
    font-size: 20px;
    color: rgb(12, 27, 48);
    text-decoration: none;

}
.slidernav a:active {
    -webkit-box-shadow: 1px 1px 0 rgba(0,0,0,0.2);
    -moz-box-shadow: 1px 1px 0 rgba(0,0,0,0.2);
    box-shadow: 1px 1px 0 rgba(0,0,0,0.2);
}
.slidernav a:hover{
    color: white;
    background-color: rgb(12, 27, 48);
}

.product-list:hover> .navbutton .slidernav a{
    background-color: rgb(12, 27, 48);
    color: white;
}
.product-list{
    padding: 0;
}
.list-product{
    background-color: rgb(35, 51, 75);
    padding: 3px;
}

.mul-item{
    width: 180px;
    height: 300px;
    overflow: hidden;
    background-color: white;
    margin: 10px;
    color: rgb(12, 27, 48);
    margin-top: 30px;
}
.mul-item h3>a{
    text-transform: uppercase;
    font-size: 18px;
    color: rgb(12, 27, 48);
    font-weight: normal;
}
.mul-item>a{
    color: rgb(12, 27, 48);
}
.mul-item h3,p{
    padding:10px;
}
.mul-item p{
    color: rgb(143, 143, 143);
    padding-top: 0px;
    font-size: 14px;
}
.mul-item-rm{
    font-weight: 100;
    text-align: right;
    padding: 10px;
    float: right;
    font-size: 13px;
}
.mul-item-rm:hover{
    background-color: rgb(12, 27, 48);
    color: white;
}
.mul-item img{
    width: 100%;
}
.slick-arrow-lc{
    left: -20px;
    z-index: 1000;
}
.hast-tag-div{
    padding-left: 22px;
    padding-right: 22px;
    padding-bottom: 20px;

}
.hast-tag-div>span{
    color: rgba(12, 27, 48,0.8);
    font-size: 14px;
    padding: 5px;
    padding-right: 0px;
}
.hast-tag-lc{
    padding: 2px;
    color: rgba(12, 27, 48,0.5);
    font-size: 12.5px;
}
.hast-tag-lc:hover{
    color: rgba(12, 27, 48,0.9);
}
.menu-box{
    background-color: transparent;
}
.description-new{
    margin-bottom: 3px;
}
.list-product>div{
    background-color: transparent;
    color: white;
}
.list-product{
    background-color: transparent;
}

.thumb-title-product, .thumb-desc-product{
    color: rgb(27, 45, 67);
    margin: 0;
    padding-bottom: 0;

}
.item-product > a, .hast-tag-product>a{
    text-decoration: none;
    color: rgba(12, 27, 48,0.5);
    padding: 0px;
}
.hast-tag-product>a:hover{
    color: rgba(12, 27, 48,0.9);
}
.item-product, .item-product>a>img{
    background-color: white;
    padding: 0;
}
.item-product{
    margin-bottom: 20px;
    margin-left: 30px;
}

.thumb-title-product{
    font-size: 16px;
    padding-top: 10px;
    padding-bottom: 0px;
    text-align: center;
    color: rgb(27, 45, 67);
}
.thumb-title-link{
    position: absolute;
    background-color: rgba(225, 225, 225,0.5);
    opacity: 0;
    z-index: 1000;
    width: 100%;
    height: 0px;
    -webkit-transition: opacity 0.3s ease-in,height 0.3s ease-in-out;
    transition: opacity 0.3s ease-in,height 0.3s ease-in-out;
}
.item-product:hover >.thumb-img-product> .thumb-title-link{
    opacity: 1;
    height: 100%;
}
.item-product:hover > .thumb-img-product> .thumb-title-link>a>span{
    margin-top: 32%;
}
.thumb-title-link>a>span{
    font-size: 40px;
    color: #393939;
    margin-left: 43%;
    margin-top: 0;
    -webkit-transition: margin-top 0.3s linear;
    transition: margin-top 0.3s linear;
}
.thumb-item-product-content{
    background-color: white;
    padding-bottom: 20px;
}
#detail-img-product img{
    width: 100%;
}
#path-product-detail{
    margin-top: 50px;
    position: fixed;
    background-color: white;
    z-index: 6000;
    width: 100%;
        padding: 0;
}
#path-product-detail ul{
    margin: 0;
    padding-left: 10px;
}
#path-product-detail ul li{
    float: left;
}
#path-product-detail p{
    color: black;
    font-weight: 100;
    font-size: 13px;
    height: 50px;
    margin: 0px;
    line-height: 30px;
    opacity: 0.7;
    padding-right: 0;
}
#path-product-detail p span{
    font-size: 10px;
}
#path-product-detail p:hover{
    opacity: 1;
}

#detail-desc-product p{
    color: black;
    font-weight: 100;
    font-size: 20px;
    padding-left: 15px;
}
.thumb-desc-product{
    max-height: 66px;
    overflow: hidden;
    padding-top: 0px;
}
.item-product{
    margin-left: 0;
    padding: 5px;
    background-color: transparent;
}
#header-list-product{
    background-color: white;
    height: 50px;
    margin-top: 10px;
    width: 100%;
    top: 50px;
    position: fixed;
    z-index: 900;
    margin-top: 0;
}

#header-list-product p{
    color: black;
    text-transform: uppercase;
    font-weight: 100;
    font-size: 16px;
    padding-left: 30px;
    padding-top: 7px;
    margin-top: 0px;
}
#header-list-product ul li{
    float: left;
    padding-top: 8px;
}
#selectCategoryProduct{
    width: auto;
    border-radius: 0;
}
.form-control{
    border-radius: 0;
}

.hast-tag-product{
    width: 100%;
    height: 20px;
    padding-left: 10px;
    position: relative;
}
.thumb-img-product{
    padding: 0px;
}
.thumb-img-product>a{
    width: 100%;
    height: 100%;
    display: block;
}
.thumb-img-product img{
    width: 100%;
    height: auto;
    padding: 0;
}
.item-product > .col-md-9{
    padding: 0px;
    height: 100%;
}
.list-product>div>h4{
    color: white;
}
.searchform{
    background-color: white;
    margin-left: 15px;
    margin-bottom: 20px;
}
.searchform>label{
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 700;
    padding-top: 20px;
    padding-bottom: 10px;
}
.searchform >div >a{
    font-weight: 700;
    padding-top: 20px;
    padding-bottom: 10px;
    color: black;
    text-decoration: none;
}
.searchform >div >a:hover p{
    background-color: rgba(12, 27, 48,0.7);
    color: white;
}
.searchform >div >a>p{
    font-size: 13px;
    font-weight: 300;
    padding-top: 20px;
    padding-bottom: 10px;
    color: black;
    margin-bottom: 0;
    padding: 5px;
    padding-left: 15px;
}
#searchform>#s{
    border-radius: 0px;
    margin-bottom: 20px;
}
#searchsubmit{
    border-radius: 0px;
    margin-bottom: 20px;
    text-transform: uppercase;
    font-size: 13px;
    font-weight: 700;
}
.searchform div{
    padding: 0;
}
.searchform img{
    width: 100%;
}
.thumb-product-popular{
    width: 100%;
    height: 100%;
    background-color: rgba(12, 27, 48,0.7);
    position: absolute;
    width: 0px;
    height: 0px;
    -webkit-transition: width 0.5s, height 0.5s; /* For Safari 3.1 to 6.0 */
    transition: width 0.5s, height 0.5s;
}
.thumb-product-popular p{
    color: white;
    text-align: center;
    width: 100%;
    height: 100%;
    line-height: 100px;
    text-transform: uppercase;
    font-weight: 700;
    display: none;

}
.thumb-product-popular-main>div:hover .thumb-product-popular{
    width: 100%;
    height: 100%;
}
.thumb-product-popular-main>div:hover p{
    display: block;
}
.thumb-product-popular-main{
    padding-bottom: 30px;
}
.thumb-product-popular-main>div{
    margin-bottom: 10px;
}
.thumb-product-popular-main div label{
    color: white;
    width: 100%;
    text-transform: uppercase;
    background-color: rgba(12, 27, 48,0.7);
    padding: 13px 0 13px 15px;  
}
#pagination{
    background-color: black;
    height: 50px;
    position: relative;
    float: right;
    width: 300px;
    color: black;
}
.on-top-menu{
    position: fixed;
    top: 0px;
    z-index: 2000;
}


#remove {
    position: absolute;
    bottom: 25px;
    left: 50%;
    margin-left: -50px;
    width: 100px;
}

.preload {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 4000;
    background: #333;
    opacity: 1;
}

.preloadContent {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100px;
    height: 100px;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.preloadIcon {
    position: absolute;
    z-index: 10;
    display: block;
    width: 100%;
    height: 100%;
    line-height: 100px;
    color: #555;
    text-align: center;
    -webkit-animation: spin 3s linear infinite;
    animation: spin 3s linear infinite;
}
.preloadIconOne:before{
    position: relative;
    top:29px;
}
.preloadIconTwo:before{
    position: relative;
    top:15px;
}
.preloadIconThree:before{
    position: relative;
    top:36px;
}
.preloadIconOne {
    color: rgba(245, 245, 245, 0.1);
    margin: -32px -38px;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
}

.preloadIconTwo {
    color: rgba(0, 216, 255, 0.3);
    z-index: 20;
    -webkit-animation: spin 5s linear infinite;
    animation: spin 5s linear infinite;
}

.preloadIconThree {
    color: rgba(245, 245, 245, 0.1);
    margin: 31px;
    -webkit-animation: spin 3s linear infinite;
    animation: spin 3s linear infinite;
}

@-webkit-keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}
@-webkit-keyframes spinChoppy {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    10% {
        -webkit-transform: rotate(36deg);
        transform: rotate(36deg);
    }
    20% {
        -webkit-transform: rotate(72deg);
        transform: rotate(72deg);
    }
    30% {
        -webkit-transform: rotate(108deg);
        transform: rotate(108deg);
    }
    40% {
        -webkit-transform: rotate(144deg);
        transform: rotate(144deg);
    }
    50% {
        -webkit-transform: rotate(180deg);
        transform: rotate(180deg);
    }
    60% {
        -webkit-transform: rotate(216deg);
        transform: rotate(216deg);
    }
    70% {
        -webkit-transform: rotate(252deg);
        transform: rotate(252deg);
    }
    80% {
        -webkit-transform: rotate(288deg);
        transform: rotate(288deg);
    }
    90% {
        -webkit-transform: rotate(324deg);
        transform: rotate(324deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}
@keyframes spinChoppy {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    10% {
        -webkit-transform: rotate(36deg);
        transform: rotate(36deg);
    }
    20% {
        -webkit-transform: rotate(72deg);
        transform: rotate(72deg);
    }
    30% {
        -webkit-transform: rotate(108deg);
        transform: rotate(108deg);
    }
    40% {
        -webkit-transform: rotate(144deg);
        transform: rotate(144deg);
    }
    50% {
        -webkit-transform: rotate(180deg);
        transform: rotate(180deg);
    }
    60% {
        -webkit-transform: rotate(216deg);
        transform: rotate(216deg);
    }
    70% {
        -webkit-transform: rotate(252deg);
        transform: rotate(252deg);
    }
    80% {
        -webkit-transform: rotate(288deg);
        transform: rotate(288deg);
    }
    90% {
        -webkit-transform: rotate(324deg);
        transform: rotate(324deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}