@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,400italic,600,600italic,700,700italic&subset=latin,vietnamese);


body{
    font-family: 'Open Sans', sans-serif;
    background-color: whitesmoke;
}
div, ul{
   background: white;
}
.container{
     background: whitesmoke;
}
ul, a{
    padding: 0;
    text-decoration: none;
    color: white;
    list-style: none;
}
a:hover{
    text-decoration: none;
    color: black;
}
/* Red: dc0000, green:009600, blue: 000096*/
/* Top */
.top-banner{
    height: 200px;
    background: black;
}
.top-banner img{
    height: 100%;
    width: 100%;
}
.top-menu{
    background: #115ab9;
    height: 50px;
    overflow-x: hidden;
}
.top-menu li{
    float: left;
    list-style: none;
    height: 100%;
    line-height: 32px;
    padding: 10px;
    -webkit-transition: background 0.5s ease-in-out ;
    transition: background 0.5s ease-in-out;
}
.top-menu li:hover{
    background: #000096;
    color: black;
    -webkit-transition: background 0.5s ease-in-out ;
    transition: background 0.5s ease-in-out;
}
.top-menu li:hover a{
    color: white;
}
#top-search{
    float:right;
    padding-top: 7.5px;

}
#top-search input{
    border-radius: 2px;
}
#top-search:hover{
    background: none;
}
/* Content */
.content{
    padding: 0px;
}
#content-menu-left{
    padding: 0px;
    border: solid 1px #ccc;
}
#content-menu-left>li,#content-menu-post-top>li{
    list-style: none;
    color: white;
    padding-left: 10px;
    height: 40px;
    line-height: 40px;
    //text-shadow: rgba(0, 0, 0, 0.34902) 0px 1px 1px;
    border-bottom: solid 1px #ccc;
    -webkit-transition: background 0.1s ease-in-out ;
    transition: background 0.1s ease-in-out;
}
#content-menu-post-top{
    max-height: 400px;
    overflow-y: scroll;
}
#content-menu-post-top>li{
    height: auto;
    line-height: 20px;
}
#content-menu-left>li:hover{
    background-color: #009600;
    -webkit-transition: background 0.1s ease-in-out ;
    transition: background 0.1s ease-in-out;
}
#content-menu-left>li:hover a{
    color: white;
}
#content-menu-left>li a,#content-menu-post-top>li a{
    color: black;
}
#content-post-top{
    max-height: 400px;
    overflow-y: hidden;
}
#content-post-top>a h4{
    font-weight: bold;
    color: black;
    font-size: 15px;
}
#content-post-top>a:hover> h4{
    color: #115ab9;
}
#content-post-top img{
    width: 100%;
}
#content-post-top p{
    font-weight: 500;
}
#content-menu-post-top{
    border-left: solid 1px #ccc;
    border-right: solid 1px #ccc;
    padding: 5px;
}
#content-menu-post-top>li:hover a{

}

.content-menu-li-first, #content-menu-post-top>.content-menu-li-first{
    display: block;
    height: 35px;
    background-color:  #115ab9;
    line-height: 35px;
    text-transform: uppercase;
}
.box, .box-left, .box-right{
    padding: 0px;
    border: solid 1px #ccc;
    margin-top: 10px;
    
}
.box-left{
    padding-right: 5px;
}
.box-right{
    padding-left: 5px;
}
.topic{
    padding-left: 10px;
    background-color:  #115ab9;
    height: 35px;
    color: white;
    font-size: 16px;
    line-height: 35px;
    margin-bottom: 5px;
}
.list-news{
    padding: 0px;
    width: 100%;
}
.topic a:hover{
    color: white;
    font-weight: bold;
}
.image-thumb img{
    width: 100%;
}
.image-thumb{
    height: auto;
    padding: 0px;
    padding-right: 10px;
    padding-left: 10px;
}
.title, .description{
    padding-right:  10px;
    padding-left: 10px;
}
.title{
    color: black;
    font-weight: bold;
}
.description{
    color: black;
    font-weight: normal;
}
.readmore{
    display: block;
    padding: 5px;
    -webkit-transition: background 0.1s ease-in-out ;
    transition: background 0.1s ease-in-out;
    float: right;
    color: black;
}
.readmore:hover{
    background-color: red;
    -webkit-transition: background 0.3s ease-in-out ;
    transition: background 0.3s ease-in-out;
    color: white;
}